h1 {
	text-align: center;
}


#navbar {
	text-align: right;
}


#container {
	display: flex;
	justify-content: space-between;
}


.bio {
	padding-left: 800px;
	padding-right: 100px;
}


.image {
	padding-left: 100px;
}


#image-gallery {
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
}


.story {
	padding-left: 800px;
	padding-right: 100px;
}


#container {
  background-color: #ffffff;
  padding: 40px;
  margin: 40px auto;
  max-width: 4000px;
  border: 1px solid #ccc;
  border-radius: 12px;


